spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/intershop
#    username: ${username}
#    password: ${password}
    username: postgres
    password: Inushing1980
    pool:
      enabled: true                               # Включение пула соединений
      initial-size: 10                            # Начальное количество соединений в пуле
      max-size: 50                                # Максимальное количество соединений
      max-idle-time: 30s                          # Время бездействия соединения перед закрытием
      max-life-time: 10m                          # Максимальное время жизни соединения
      validation-query: SELECT 1                  # SQL-запрос для проверки работоспособности соединения
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password: 12345
      lettuce:
        pool:
          max-idle: 2
  sql:
    init.mode: always
  thymeleaf:
        encoding: UTF-8

logging:
  pattern.file: "%d{HH:mm:ss} %-5level %logger{36} - %msg%n"
  level:
    root: DEBUG
    org.zalando.logbook: DEBUG

application:
  user_id: 2  #  id текущего пользователя
  shop:
    payment_id: "623ff0e5-2069-4051-88dc-fea52a85ffab"
  items:
    perline: 3  #  количество товаров в одном ряду
    load.enabled: false  #  включена возможность загрузки товаров через административную панель
    images.directory: c:/temp/imageStorage   #  директория для хранения загруженных картинок
payment:
  server:
    url: "http://127.0.0.1:8081"   #  адрес сервиса оплаты