<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<a href="/shop-login" style="float:right;" th:if="${!isAuth}">
    <b>ВОЙТИ &cudarrr;</b>
</a>
<a href="/logout" style="float:right;" th:if="${isAuth}" onclick="document.getElementById('logoutForm').submit(); return false;">
    <b>ВЫЙТИ &cudarrr;</b>
</a>

<form th:action="@{/logout}" method="post" th:if="${isAuth}" style="float:right;display:none" id="logoutForm" >
    <button style="color:#f00;border:0px #000 solid;background-color:#fff;">ВЫЙТИ</button>
</form>



<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${'/'+item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${item.getDescription()}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/items/'+item.getId()}" method="post">
                            <button name="action" value="minus">-</button>
                            <span th:text="${item.getCount()}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form th:action="@{/buy}" method="post" th:if="${enablePayment}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
    <td>
        <div style="text-align: right;">
            <span th:if="${!enablePayment}" th:text=${payServiceError.getMessage()} style="color:red"></span>
        </div>
    </td>
</table>
</body>

</html>