<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Витрина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;" th:if="${isAuth}">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/cart/items" style="float:right;" th:if="${isAuth}">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/shop-login" style="float:right;" th:if="${!isAuth}">
    <b>ВОЙТИ &cudarrr;</b>
</a>
<a href="/logout" style="float:right;" th:if="${isAuth}" onclick="document.getElementById('logoutForm').submit(); return false;">
    <b>ВЫЙТИ &cudarrr;</b>
</a>

<form th:action="@{/logout}" method="post" th:if="${isAuth}" style="float:right;display:none" id="logoutForm" >
    <button style="color:#f00;border:0px #000 solid;background-color:#fff;">ВЫЙТИ</button>
</form>


<table>
    <tr>
        <td>
            <form>
                <p>
                    <label for="search">Найти: </label>
                    <input id="search" style="width:300px;" name="search" th:value="${search}">
                    <button name="action">&#128269;</button>
                </p>
                <p>
                    <label for="sort">Сортировка: </label>
                    <select id="sort" name="sort" onchange="this.form.submit()">
                        <option value="NO" th:selected="${sort=='NO'}">нет</option>
                        <option value="ALPHA" th:selected="${sort=='ALPHA'}">по алфавиту</option>
                        <option value="PRICE" th:selected="${sort=='PRICE'}">по цене</option>
                    </select>
                </p>
                <p>
                    <label for="pageSize">Число товаров: </label>
                    <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                        <option value="5" th:selected="${itemPage.getSize()==5}">5</option>
                        <option value="10" th:selected="${itemPage.getSize()==10}">10</option>
                        <option value="20" th:selected="${itemPage.getSize()==20}">20</option>
                        <option value="50" th:selected="${itemPage.getSize()==50}">50</option>
                        <option value="100" th:selected="${itemPage.getSize()==100}">100</option>
                    </select>
                </p>
                <p>
                    <button th:if="${itemPage.hasPrevious()}" name="pageNumber" th:value="${itemPage.getNumber()-1}">
                        &lt;
                    </button>
                    <span th:text="${'Страница: '+(itemPage.getNumber()+1)}"></span>
                    <button th:if="${itemPage.hasNext()}" name="pageNumber" th:value="${itemPage.getNumber()+1}">&gt;
                    </button>
                </p>
            </form>
        </td>
    </tr>
    <tr th:each="itemsRow : ${itemPage.getContent()}">
        <table style="table-layout:fixed">
            <tr>
                <td th:each="item : ${itemsRow}" style="width: 250px">
                    <a th:href="${'/items/'+item.getId()}">
                        <img width="300" height="300" th:src="${'/'+item.getImgPath()}">
                    </a>
                </td>
            </tr>
            <tr>
                <td th:each="item : ${itemsRow}" style="width: 250px; text-align: left; padding-right: 30px">
                    <b th:text="${item.getTitle()}"></b>
                </td>
            </tr>
            <tr>
                <td th:each="item : ${itemsRow}" style="width: 250px; text-align: left; padding-right: 30px">
                    <b th:text="${item.getPrice()}+' руб.'"></b>
                </td>
            </tr>
            <tr>
                <td th:each="item : ${itemsRow}"
                    style="width: 250px; text-align: left; vertical-align: top; padding-right: 30px">
                    <p th:text="${item.getDescription()}"></p>
                </td>
            </tr>
            <tr>
                <td th:each="item : ${itemsRow}" style="width: 150px" th:if="${isAuth}">
                    <form th:action="${'/main/items/'+item.getId()}" method="post">
                        <button name="action" value="minus">-</button>
                        <span th:text="${item.getCount()}"></span>
                        <button name="action" value="plus">+</button>
                        <button name="action" value="plus" th:if="${item.getCount()==0}">В
                            корзину
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </tr>
</table>
</body>

</html>