<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Заказ</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<a href="/shop-login" style="float:right;" th:if="${!isAuth}">
    <b>ВОЙТИ &cudarrr;</b>
</a>
<a href="/logout" style="float:right;" th:if="${isAuth}" onclick="document.getElementById('logoutForm').submit(); return false;">
    <b>ВЫЙТИ &cudarrr;</b>
</a>

<form th:action="@{/logout}" method="post" th:if="${isAuth}" style="float:right;display:none" id="logoutForm" >
    <button style="color:#f00;border:0px #000 solid;background-color:#fff;">ВЫЙТИ</button>
</form>



<h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="${'Заказ №'+order.getId()}"></h2>
        </td>
    </tr>
    <tr th:each="orderItem : ${order.getOrderItems()}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="${'/items/'+orderItem.getItem().getId()}">
                            <img width="300" height="300" th:src="${'http://localhost:8080/'+orderItem.getItem().getImgPath()}">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${orderItem.getItem().getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${orderItem.getCount()}+' шт.'"></b>
                    </td>
                    <td>
                        <b th:text="${orderItem.getSum()}+' руб.'"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${'Сумма: '+order.getTotalSum()}+' руб.'"></h3>
        </td>
    </tr>
</table>
</body>

</html>