<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Заказы</title>
</head>

<body>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<a href="/shop-login" style="float:right;" th:if="${!isAuth}">
    <b>ВОЙТИ &cudarrr;</b>
</a>
<a href="/logout" style="float:right;" th:if="${isAuth}" onclick="document.getElementById('logoutForm').submit(); return false;">
    <b>ВЫЙТИ &cudarrr;</b>
</a>

<form th:action="@{/logout}" method="post" th:if="${isAuth}" style="float:right;display:none" id="logoutForm" >
    <button style="color:#f00;border:0px #000 solid;background-color:#fff;">ВЫЙТИ</button>
</form>




<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №'+order.getId()}" th:href="${'/orders/'+order.getId()}"></a>
            </h2>
            <table>
                <tr th:each="orderItem : ${order.getOrderItems()}">
                    <td th:text="${orderItem.getItem().getTitle() +' (' + orderItem.getCount()+' '+orderItem.getUnit().getName()+') '+ orderItem.getSum()+' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: '+order.getTotalSum()}+' руб.'"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>